# Read in dust map and overplot X-ray sources in 3D

Using a dust map generated by GenerateDustCubes.py, we plot that in 3D alongside the 3D positions of the X-ray sources.

First we have to read in the list of X-ray sources and figure out their coordinates.  Then we will plot.

In [369]:
import numpy as np
import ipyvolume as ipv
from genfire.fileio import readMRC
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import pandas as pd
from astropy.coordinates import SkyCoord
import astropy.units as u
#from astroquery.esa.xmm_newton import XMMNewton
from astroquery.simbad import Simbad
Simbad.add_votable_fields('distance')
from ipywidgets import IntProgress

# Function to convert our cartesian coordinates to spherical coordinates (i.e. galactic coordinates).
#@njit
def Spherical2Cartesian(r, phi, theta):
    phi = np.deg2rad(phi)
    theta = np.deg2rad(theta+90)
    x = r * np.cos(phi) * np.sin(theta)
    y = r * np.sin(phi) * np.sin(theta)
    z = r * np.cos(theta)
    return x, y, z


drho1kpc = readMRC('drho 1kpc.mrc')
drho10kpc = readMRC('drho 10kpc.mrc')

In [76]:
# Observations.csv just has a list of bright sources mined from the Chandra data.  These are probably the top N interesting X-ray sources in the sky.  So let's look at them.
Sources = pd.read_csv('Observations.csv', skiprows=6, delimiter='|')
display(Sources.describe())
display(Sources.head())

              ObsID        TStart         TStop           RA          Dec
count   1275.000000  1.275000e+03  1.275000e+03  1275.000000  1275.000000
mean    9802.858039  3.297251e+08  3.297831e+08   193.587378    -9.870585
std     6890.041809  1.801658e+08  1.801528e+08    90.868515    41.936426
min        3.000000  5.221400e+07  5.222980e+07     6.727649   -79.361416
25%     3672.000000  1.481684e+08  1.482524e+08   109.682285   -42.371310
50%     9939.000000  3.422915e+08  3.423131e+08   196.385246   -17.581536
75%    15172.500000  4.820186e+08  4.820978e+08   266.567625    31.311291
max    62877.000000  6.653697e+08  6.653993e+08   358.761780    79.770103

   ObsID         Object        TStart         TStop          RA        Dec
0  13089        Capella  4.075548e+08  4.075864e+08   79.176373  45.994974
1  20099        GX340+0  6.139789e+08  6.140465e+08  251.454198 -45.609426
2   6628       GX 349+2  2.684048e+08  2.684187e+08  256.434140 -36.424890
3  13841         Sgr A*  4.589465e+08  4.589932e+08  266.419918 -29.008846
4   6617  XTE J1817-330  2.587939e+08  2.588417e+08  274.433491 -33.020187

In [272]:
# Query Simbad to get the entries for all the X-ray objects.
SimbadSources = Simbad.query_objects(Sources['Object'])

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 16 raised an error (recorded in the `errors` attribute of the result table): 'Eta Car, Post-Minimum': No known catalog could be found

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 24 raised an error (recorded in the `errors` attribute of the result table): 'RYTau': No known catalog could be found

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 35 raised an error (recorded in the `errors` attribute of the result table): 'M81*' this identifier has an incorrect format for catalogs: 	M : Messier Objects 	M (

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 52 raised an error (recorded in the `errors` attribute of the result table): 'Orion Trapezium Cluster': No known catalog could be found

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 116 raised an error (recorded in the `errors` attribute of the result table): 'M81*' this identifier has an incorrect format for catalogs: 	M : Messier Objects 	M (

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 124 raised an error (recorded in the `errors` attribute of the result table): 'Eta Car, Post-Minimum': No known catalog could be found

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 162 raised an error (recorded in the `errors` attribute of the result table): 'X1822-371' this identifier has an incorrect format for catalog: 	X : ???

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 181 raised an error (recorded in the `errors` attribute of the result table): '1E1048-59' this identifier has an incorrect format for catalog: 	1E : catalogue 1E

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 189 raised an error (recorded in the `errors` attribute of the result table): 'X2127+119' this identifier has an incorrect format for catalog: 	X : ???

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 211 raised an error (recorded in the `errors` attribute of the result table): 'Eta Car, Post-Minimum': No known catalog could be found

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 238 raised an error (recorded in the `errors` attribute of the result table): Identifier not found in the database : HD  93129Ab

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 245 raised an error (recorded in the `errors` attribute of the result table): 'X1908+375: Low N H' this identifier has an incorrect format for catalog: 	X : ???

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 265 raised an error (recorded in the `errors` attribute of the result table): 'XTE J1550-564 (OUTBURST DECAY)' this identifier has an incorrect format for catalog: 	XTE : X-ray Timing Explorer

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 279 raised an error (recorded in the `errors` attribute of the result table): 'RYTau': No known catalog could be found

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 303 raised an error (recorded in the `errors` attribute of the result table): Identifier not found in the database : HD  93129Ab

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 319 raised an error (recorded in the `errors` attribute of the result table): 'Orion Trapezium Cluster': No known catalog could be found

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 367 raised an error (recorded in the `errors` attribute of the result table): 'M 31 North' this identifier has an incorrect format for catalogs: 	M : Messier Objects 	M (

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 374 raised an error (recorded in the `errors` attribute of the result table): 'M81*' this identifier has an incorrect format for catalogs: 	M : Messier Objects 	M (

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 377 raised an error (recorded in the `errors` attribute of the result table): 'M 31 North' this identifier has an incorrect format for catalogs: 	M : Messier Objects 	M (

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 378 raised an error (recorded in the `errors` attribute of the result table): 'M81*' this identifier has an incorrect format for catalogs: 	M : Messier Objects 	M (

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 384 raised an error (recorded in the `errors` attribute of the result table): 'Orion Trapezium Cluster': No known catalog could be found

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 432 raised an error (recorded in the `errors` attribute of the result table): Identifier not found in the database : HD  93129Ab

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 454 raised an error (recorded in the `errors` attribute of the result table): 'EXHYA': No known catalog could be found

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 467 raised an error (recorded in the `errors` attribute of the result table): 'coord from identifier 1H 0414+009': No astronomical object found :

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 480 raised an error (recorded in the `errors` attribute of the result table): 'M81*' this identifier has an incorrect format for catalogs: 	M : Messier Objects 	M (

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 481 raised an error (recorded in the `errors` attribute of the result table): 'Orion Trapezium Cluster': No known catalog could be found

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 508 raised an error (recorded in the `errors` attribute of the result table): 'MCG--6-30-15' this identifier has an incorrect format for catalog: 	MCG : Morphological cat. of galaxies

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 523 raised an error (recorded in the `errors` attribute of the result table): 'AR LAC-2 FIRST QUAD (1)': No known catalog could be found

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 532 raised an error (recorded in the `errors` attribute of the result table): 'Orion Trapezium Cluster': No known catalog could be found

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 537 raised an error (recorded in the `errors` attribute of the result table): 'M81*' this identifier has an incorrect format for catalogs: 	M : Messier Objects 	M (

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 538 raised an error (recorded in the `errors` attribute of the result table): 'RCW38/IRS2' this identifier has an incorrect format for catalog: 	RCW : catalogue RCW

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 571 raised an error (recorded in the `errors` attribute of the result table): 'AR LAC-1  ECLIPSE (1)': No known catalog could be found

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 580 raised an error (recorded in the `errors` attribute of the result table): '4U 1957+11 (=V1408 Aql)' this identifier has an incorrect format for catalog: 	4U : catalogue 4U

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 594 raised an error (recorded in the `errors` attribute of the result table): 'AR LAC-5 FIRST QUAD (2)': No known catalog could be found

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 602 raised an error (recorded in the `errors` attribute of the result table): 'AR LAC-3 LAST QUAD (1)': No known catalog could be found

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 623 raised an error (recorded in the `errors` attribute of the result table): Identifier not found in the database : NGC   132D

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 636 raised an error (recorded in the `errors` attribute of the result table): 'M81*' this identifier has an incorrect format for catalogs: 	M : Messier Objects 	M (

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 647 raised an error (recorded in the `errors` attribute of the result table): 'M81*' this identifier has an incorrect format for catalogs: 	M : Messier Objects 	M (

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 662 raised an error (recorded in the `errors` attribute of the result table): 'HD104237A (DX Cha)' this identifier has an incorrect format for catalog: 	HD : Henry Draper

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 672 raised an error (recorded in the `errors` attribute of the result table): 'V987 TAU = HDE 283572': No known catalog could be found

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 716 raised an error (recorded in the `errors` attribute of the result table): 'Cr X-1' this identifier has an incorrect format for catalog: 	C : Cluster

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 736 raised an error (recorded in the `errors` attribute of the result table): 'ZW3146' this identifier has an incorrect format for catalog: 	ZW : catalogue ZW

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 816 raised an error (recorded in the `errors` attribute of the result table): 'RCW38/IRS2' this identifier has an incorrect format for catalog: 	RCW : catalogue RCW

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 829 raised an error (recorded in the `errors` attribute of the result table): 'Orion Trapezium Cluster': No known catalog could be found

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 836 raised an error (recorded in the `errors` attribute of the result table): 'RXJ J1708-4009': No known catalog could be found

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 873 raised an error (recorded in the `errors` attribute of the result table): 'Orion Trapezium Cluster': No known catalog could be found

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 883 raised an error (recorded in the `errors` attribute of the result table): 'HER X-1 MAIN HI PEAK' this identifier has an incorrect format for catalog: 	X : ???

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 922 raised an error (recorded in the `errors` attribute of the result table): 'Orion Trapezium Cluster': No known catalog could be found

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 944 raised an error (recorded in the `errors` attribute of the result table): 'XTE J1550-564 (0.05 CRAB)' this identifier has an incorrect format for catalog: 	XTE : X-ray Timing Explorer

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 953 raised an error (recorded in the `errors` attribute of the result table): 'Orion Trapezium Cluster': No known catalog could be found

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 984 raised an error (recorded in the `errors` attribute of the result table): 'XTE J1550-564 (OUTBURST DECAY)' this identifier has an incorrect format for catalog: 	XTE : X-ray Timing Explorer

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 1010 raised an error (recorded in the `errors` attribute of the result table): 'EXHYA': No known catalog could be found

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 1034 raised an error (recorded in the `errors` attribute of the result table): 'Cr X-1' this identifier has an incorrect format for catalog: 	C : Cluster

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 1072 raised an error (recorded in the `errors` attribute of the result table): Identifier not found in the database : HD  93129Ab

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 1081 raised an error (recorded in the `errors` attribute of the result table): 'Eta Car, Post-Minimum': No known catalog could be found

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 1124 raised an error (recorded in the `errors` attribute of the result table): 'M81*' this identifier has an incorrect format for catalogs: 	M : Messier Objects 	M (

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 1139 raised an error (recorded in the `errors` attribute of the result table): Identifier not found in the database : SWIFT J195509.6+261407

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 1155 raised an error (recorded in the `errors` attribute of the result table): 'CRAB PULSAR-CC': No known catalog could be found

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 1170 raised an error (recorded in the `errors` attribute of the result table): Identifier not found in the database : NGC   132D

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 1180 raised an error (recorded in the `errors` attribute of the result table): 'X1908+075: Low N H' this identifier has an incorrect format for catalog: 	X : ???

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 1186 raised an error (recorded in the `errors` attribute of the result table): 'M 31 Southwest' this identifier has an incorrect format for catalogs: 	M : Messier Objects 	M (

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 1194 raised an error (recorded in the `errors` attribute of the result table): 'HD104237A (DX Cha)' this identifier has an incorrect format for catalog: 	HD : Henry Draper

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 1202 raised an error (recorded in the `errors` attribute of the result table): 'M81*' this identifier has an incorrect format for catalogs: 	M : Messier Objects 	M (

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 1218 raised an error (recorded in the `errors` attribute of the result table): '0509-67.5': No known catalog could be found

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 1259 raised an error (recorded in the `errors` attribute of the result table): 'M 31 Southeast' this identifier has an incorrect format for catalogs: 	M : Messier Objects 	M (

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 1261 raised an error (recorded in the `errors` attribute of the result table): 'X1908+075: High N H' this identifier has an incorrect format for catalog: 	X : ???

/home/zack/anaconda3/envs/conda37/lib/python3.7/site-packages/astroquery/simbad/core.py:138: UserWarning:

Warning: The script line number 1271 raised an error (recorded in the `errors` attribute of the result table): 'A1744-361' this identifier has an incorrect format for catalog: 	A (ACO): Abell, Corwin, Olowin

In [320]:
NumObservationsToCalculate = -1

def GetFullCoordsForObject(s):
#     # It is possible that the object name refers to an object that isn't in Simbad.  Nothing we can do with that.
#     if s is None:
#         return np.NaN, np.NaN, np.NaN, np.NaN, np.NaN, np.NaN, 
    
    # Get the coordinates of this object
    try:
        cs = SkyCoord.from_name(s['MAIN_ID'])
    except:
        # If any trouble finding this source then move on.
        return np.NaN, np.NaN, np.NaN, np.NaN, np.NaN, np.NaN, 
    
    # If this entry doesn't have a distance recorded by Simbad, then we have no position to report
    if np.isnan(s['Distance_distance']):
        return np.NaN, np.NaN, np.NaN, np.NaN, np.NaN, np.NaN, 
    
    # A distance is measured so check the units.
    if s['Distance_unit'] == 'pc':
        distunit = u.pc
    elif s['Distance_unit'] == 'kpc':
        distunit = u.kpc
    elif s['Distance_unit'] == 'Mpc':
        distunit = u.Mpc
    else:
        raise TypeError('Unknown distance unit: %s' % s['Distance_unit'])
        
    # And finally convert to the galactic and xyz coordinates we are using for the map.    
    c = SkyCoord(cs.galactic.l.degree*u.deg, cs.galactic.b.degree*u.deg, s['Distance_distance']*distunit, frame='galactic')
    x,y,z = Spherical2Cartesian(r=c.distance.pc, phi=c.l.deg, theta=c.b.deg)
    return c.l.deg, c.b.deg, c.distance.pc, x, y, z

l = [] # Galactic longitude of object in deg.
b = [] # Gal lat deg
d = [] # Distance in pc
x = [] # xyz, distance in pc
y = []
z = []
#for i, r in Sources.head(NumObservationsToCalculate).iterrows():
ProgBar = IntProgress(min=0, max=SimbadSources.to_pandas().shape[0])
display(ProgBar)
for i, r in SimbadSources.to_pandas().head(NumObservationsToCalculate).iterrows():
    ProgBar.value = i
    print(r['MAIN_ID'].decode())
    c = GetFullCoordsForObject(r)
    l.append(c[0]), b.append(c[1]), d.append(c[2]), x.append(c[3]), y.append(c[4]), z.append(c[5])
    
ScatterSources = SimbadSources.to_pandas().head(NumObservationsToCalculate).copy()
ScatterSources['l'] = l
ScatterSources['b'] = b
ScatterSources['dist'] = d
ScatterSources['x'] = x
ScatterSources['y'] = y
ScatterSources['z'] = z
ScatterSources

IntProgress(value=0, max=1158)

* alf Aur
4U 1642-45
V* V1101 Sco
NAME Sgr A*
[KRL2007b] 312
CD-57  3057
NAME Centaurus A
V* FK Com
ICRF J184208.9+794617
HD 226868
HD 193793
V* V404 Cyg
NAME Sgr A*
LIN 198
GRB 021004
* tet Car
X LMC X-3
X LMC X-3
QSO B2155-304
QSO B2149-306
V* KZ TrA
SN 1987A
ESO 445-50
* mu. Vel
* eta Car
V* V1055 Ori
V* YY Dra
3C 273
V* V1101 Sco
V* V1101 Sco
ESO 445-50
SN 1996cr
QSO B2155-304
Mrk 1095
V* V1101 Sco
V* BP Cru
SN 1987A
NAME Sgr A*
V* V818 Sco
* alf Aur
HD  22468
* ksi Per
Ton  951
V* V645 Cen
NAME Sgr A*
3C 454.3
PB  3894
* zet Pup
NAME XTE J17464-3213
4C 71.07
[KRL2007b] 222
V* CM Tau
V* V1033 Sco
ESO 323-77
NAME XTE J17464-3213
Granat 1915+105
NGC   863
MAXI J1535-571
* zet Pup
[KRL2007b] 222
V* BR Cir
V* V2293 Oph
4U 1850-03
NAME Sgr A*
4U 1758-25
Granat 1915+105
* alf Aur
V* V1408 Aql
V* SU UMa
[KRL2007b] 222
IGR J17062-6143
HD 119682
ICRF J183503.3+324146
V* GK Per
* alf Aur
V* V821 Ara
V* SU Aur
Mrk  290
* tau CMa
V* V1405 Aql
SN 1987A
4U 1758-25
NAME Sgr A*
SN 1996cr
HD 191612
NAME Sgr A*
V* GP Vel
SN 1987A
MAXI J1910-057
HD 226868
3C 454.3
NAME Sgr A*
SWIFT J0243.6+6124
V* CC Eri
Ton  951
V* KZ TrA
[KRL2007b] 312
V* V801 Ara
SN 1987A
QSO B2155-304
*  31 Com
CD-57  3057
V* V1101 Sco
QSO B2155-304
ESO 445-50
* ups Peg
V* TT Ari
3C 273
NAME SNR 1987A
CD-57  3057
LIN 198
* sig Ori
NAME Sgr A*
X Nor X-1
X LMC X-1
V* V404 Cyg
V* AO Psc
EM* AS  431
NAME Sgr A*
V* NP Ser
HD 193793
V* V404 Cyg
NAME Great Annihilator
NAME Great Annihilator
ICRF J184208.9+794617
NAME Centaurus A
[KRL2007b] 312
V* V1055 Ori
V* FK Com
Mrk  841
4U 1758-25
V* HZ Her
SNR G292.0+01.8
V* V821 Ara
Granat 1915+105
NGC  1399
NAME Circinus Galaxy
V* V1408 Aql
SN 1996cr
* eps Ori
2EG J1746-2852
V* V1408 Aql
* alf Aur
NAME Sgr A*
V* KV UMa
V* V1101 Sco
Granat 1915+105
V* LU TrA
HD 119682
1RXS J180408.9-342058
IGR J18179-1621
ACO  1835
MAXI J1535-571
* eta Car
3C 273
QSO B1426+428
[KRL2007b] 222
[KRL2007b] 222
V* CM Tau
V* CM Tau
V* V1101 Sco
V* V1033 Sco
MAXI J1535-571
NGC  3516
PB  3894
V* MM Ser
Granat 1915+105
NGC  5548
V* HZ Her
SS 433
NGC  4945
4U 1705-44
NGC  4151
V* V779 Cen
SS 433
NGC  3393
HD  47129
X LMC X-1
* zet Ori
NGC  4051
V* V1521 Cyg
NGC  7582
NGC  3516
RX J0925.7-4758
BD+19  5116
NAME SNR 1987A
NGC  2992
3C 273
V* IM Peg
[GHJ2008] 3
V* CC Eri
Mrk 1506
Mrk  421
NAME Hya A
NAME SNR 1987A
X Sgr X-3
V* GP Vel
* zet Ori
HD 193793
NAME Sgr A*
4U 1954+31
EM* AS  431
NGC  6240
UGC 12163
V* V1521 Cyg
V* V1521 Cyg
4U 1758-25
4U 1642-45
IC  348
V* SU UMa
NGC  4051
V* V2606 Oph
* d UMa
V* GP Vel
V* RY Lup
NAME Slow Burster
Mrk 1506
* tet01 Ori C
QSO B2155-304
Mrk  876
HD  22468
NGC  6618
NGC  4051
NGC  4051
Mrk    3
NAME Great Annihilator
PB  3894
NGC  3393
X LMC X-1
NGC  3516
X LMC X-4
Mrk  421
V* IM Peg
NAME SNR 1987A
X LMC X-4
NGC  4051
V* V4634 Sgr
X LMC X-2
V* V5512 Sgr
V* RS Oph
V* IM Peg
IGR J17591-2342
NAME SNR 1987A
NGC  4507
SS 433
SK  160
* alf Aur
4U 1642-45
SN 1987A
V* V479 Sct
HD 148937
V* V5512 Sgr
M 106
Granat 1915+105
HD 191612
SS 433
4U 1323-62
HD 199143
ICRF J183503.3+324146
V* V2606 Oph
V* SS Cyg
X Sgr X-1
NGC  4051
IC  348
HD 193793
HD 102458
PB  3894
* zet Pup
SNR B0102-72.3
* zet Pup
V* V2606 Oph
Mrk  876
* alf Aur
HD 150136
* alf Aur
NGC  6240
* kap Ori
4U 1746-371
* gam02 Vel
LEDA   68751
V* Z And
NGC  4051
V* HZ Her
NAME Hya A
* tet01 Ori C
NGC  4151
HD 110432
Mrk 1506
HD 226868
Mrk  876
Granat 1915+105
4U 1323-62
NAME Slow Burster
QSO B2155-304
V* GP Vel
NAME SNR 1987A
V* MM Ser
NGC  4051
NAME Slow Burster
Ton  951
V* BR Cir
NAME XTE J17464-3213
IGR J17498-2921
ESO 434-40
ESO 434-40
Granat 1915+105
* alf Aur
NAME Cas A
NAME Orion Nebula Cluster
V* CH Cyg
[KRL2007b] 225
NAME XTE J17464-3213
NAME MR 2251-178
V* V5512 Sgr
NAME Orion Nebula Cluster
* alf Aur
HD 153919
HD 191612
[KRL2007b] 222
NGC  5506
NGC  1365
V* CP Pup
FRL   49
V* UX Ari
[KRL2007b] 222
* del Ori
M  77
NGC  7469
HD 226868
Mrk  290
V* GK Per
ESO 434-40
V* IM Peg
NGC  4253
[GHJ2008] 3
3C 273
V* V2246 Cyg
THA 15-12
X LMC X-1
Mrk  279
4U 0513-40
LEDA   68751
V* FK Com
SK  160
V* TW Hya
SK  160
4U 1323-62
* zet Pup
HD 245770
NGC  3783
V* NP Ser
X Nor X-1
SWIFT J1658.2-4242
HD 193793
V* IM Peg
Granat 1915+105
3C 279
* zet Pup
2EG J1746-2852
HD  50896
V* V821 Ara
NGC  4051
V* TW Hya
V* FK Com
* alf Aur
MAXI J1535-571
BD+19  5116
2MASX J07473129-1917403
NGC  7469
[KRL2007b] 222
* bet Per
* del Ori
V* GK Per
CPD-63  2495
V* V5512 Sgr
Mrk  421
BD+40  4227A
V* KZ TrA
2E  4066
NGC  1365
NGC  7469
SN 1987A
[KRL2007b] 275
* alf Aur
* bet Cru
NAME OAO 1657-41
Mrk  421
Mrk 1506
[SST2011] J081929.00+704219.3
V* V5512 Sgr
[KRL2007b] 225
NGC  3227
* del Ori
HD 191612
Mrk    3
V* BO Mic
* alf Aur
CD-57  3057
X Sgr X-1
V* CH Cyg
NAME SNR 1987A
V* CH Cyg
NAME XTE J17464-3213
V* MM Ser
* eta Car
V* HZ Her
* zet Pup
Mrk  876
V* CH Cyg
IGR J17498-2921
HD 191612
NGC  4253
Granat 1915+105
NGC  4151
[KRL2007b] 222
QSO B2155-304
NGC   931
NGC  4051
* zet Pup
HD  50896
BD+19  5116
V* FK Com
HD  50896
X Nor X-1
4U 1705-44
HD 245770
V* V1521 Cyg
V* IM Peg
QSO B1028+511
HD  47129
V* YY Dra
SK  160
V* TW Hya
HD 226868
4U 0513-40
NAME XTE J17464-3213
HD 153919
NAME Sgr A*
HD  79826
[GHJ2008] 3
NGC  2362
X LMC X-1
* kap Ori
NGC  3783
2MASX J07473129-1917403
* eta Car
* eta Car
SN 1987A
NGC   931
V* UY Vol
NAME SNR 1987A
X Sgr X-1
EM* AS  431
* eta Car
* alf Aur
* zet Ori
NAME Sgr A*
V* V404 Cyg
NGC  7469
SS 433
NGC  3227
M  77
* alf Gem C
M  77
V* CM Tau
NAME Great Annihilator
Mrk 1095
Mrk  876
UGC  3374
X Nor X-1
3C  84
SN 1987A
4U 1705-44
* eta Car
X Sgr X-1
NGC  4253
V* V821 Ara
NGC  6624
HD  36705
NAME SNR 1987A
* eta Car
SNR B0102-72.3
X Sgr X-4
* alf CMi
X Sgr X-4
V* MM Ser
4U 1705-44
Mrk    3
NAME Slow Burster
NGC  3516
X Nor X-1
V* CP Pup
SN 1996cr
Mrk  509
V* EV Lac
HD 193793
Mrk  876
V* V745 Sco
V* V779 Cen
Granat 1915+105
V* TT Ari
3C  84
NAME Sgr A*
Mrk  876
M  28
XTE J1752-223
NGC  3783
* zet Oph
* tet Car
V* RT Cru
SNR B0102-72.3
3C  84
NAME Sgr A*
SN 1996cr
* eta Car
V* V1101 Sco
V* V1101 Sco
SN 1987A
3C  84
QSO B1830-211
V* AU Mic
SS 433
NAME SNR 1987A
SK  160
NGC  4253
3C 273
* alf Aur
NGC  7469
PSR J0146+6145
M  77
SN 1996cr
HD 191612
1AXG J070653-4928
X Sgr X-1
* zet Ori
QSO B2149-306
V* V404 Cyg
NAME Sgr A*
* eta Car
V* RY Lup
3C 273
SN 1987A
NAME Sgr A*
3C  84
ACO  1835
NAME SNR 1987A
3C 273
NGC   931
V* NP Ser
V* V1341 Cyg
NGC  2110
NGC  2110
NGC  3783
HD 153919
HD  93250
Mrk    3
MAXI J1305-704
SN 1996cr
NAME Sgr A*
Mrk    3
3C  84
NAME Sgr A*
V* V1341 Cyg
NAME M82 ULX-1
NAME Sgr A*
4U 1642-45
NGC  4051
HD 226868
Mrk  509
HD  93250
V* CP Pup
SN 1996cr
SN 1987A
V* V801 Ara
WR  48a
NAME Sgr A*
HD 245059
ESO 445-50
SN 1996cr
MAXI J1535-571
3C  84
V* U Gem
NAME Circinus Galaxy
* zet Pup
NAME Sgr A*
UGC 12163
3C  84
Granat 1915+105
V* V779 Cen
* zet Pup
NAME XTE J17464-3213
PB  3894
IGR J17454-2919
ClG J1347-1145
X Sgr X-1
V* NY Lup
V* KZ TrA
* alf Aur
SNR B0102-72.3
* tau CMa
V* UY Vol
3C  84
Granat 1915+105
V* WX Hyi
NAME Sgr A*
V* GP Vel
V* AM Her
4C 71.07
* eta Car
Mrk  705
SN 1987A
3C 273
SS 433
* alf Aur
NAME Sgr A*
V* V1101 Sco
NAME XTE J17464-3213
V* UY Vol
Mrk  421
V* V4634 Sgr
HD 206267
HD 119682
SN 1987A
* alf Aur
NAME XTE J17464-3213
NAME Sgr A*
NAME Vela Pulsar
*  15 Mon
IC  348
[CHM2006] Candidate 1b
NGC   526
V* KZ TrA
NAME Sgr A*
2XMM J180112.4-254436
SN 1987A
* iot Ori
*  15 Mon
HD 206267
NAME Sgr A*
NGC  2617
NAME SNR 1987A
* ksi UMa
M  77
4U 0513-40
NGC  3393
3C 279
* iot Ori
SN 1987A
HD 226868
HD 226868
NGC  4151
ESO 113-45
IGR J17511-3057
NAME SNR 1987A
X LMC X-1
SNR G292.0+01.8
NGC  3393
4U 0513-40
HD 245059
* alf Aur
V* NY Lup
NAME Sgr A*
V* V1101 Sco
HD 226868
X LMC X-2
V* V426 Oph
3C  84
4U 1758-25
HD 226868
QSO B2155-304
V* V834 Cen
M  77
Haro 1-6
* zet Pup
4U 1812-12
NGC  2992
SN 1987A
* kap Ori
V* V1341 Cyg
V* V2216 Oph
GBS 1900+14
V* V4634 Sgr
V* NY Lup
4U 0513-40
* alf Aur
NAME Sgr A*
SN 1987A
* zet Pup
NAME Circinus Galaxy
NGC  2992
V* VW Cep
V* MM Ser
3C  84
NGC   863
NGC  4051
Granat 1915+105
V* V926 Sco
UGC 12163
GRB 991216
NAME SNR 1987A
X LMC X-1
XTE J1752-223
NGC  4593
4C 71.07
SS 433
V* OU And
X Nor X-1
ESO 445-50
V* AE Aqr
SNR G292.0+01.8
Granat 1915+105
* gam Cas
V* V1521 Cyg
3C  84
NGC  2617
NAME SNR 1987A
3C 279
*  15 Mon
NAME Sgr A*
1RXS J142605.2+424901

2MASX J14260850+4247494
QSO B1830-211
HD 193793
HD 206267
*   9 Sgr
HD  93250
V* T Cha
[KRL2007b] 312
Mrk  509
Mrk  841
NGC  4051
V* NY Lup
HD 119682
NAME Sgr A*
NAME XTE J17464-3213
EM* AS  431
NGC  4051
NGC  2110
NGC  3516
* sig Gem
LEDA   68751
2XMM J180112.4-254436
NAME Hya A
SK  160
NGC  4051
EM* AS  431
V* CP Pup
V* V1521 Cyg
V* V1521 Cyg
4U 1642-45
V* GR Mus
NAME MR 2251-178
HD  42054
NGC  4051
NAME Hya A
V* T Tau
4U 1823-00
NGC  4051
SN 1987A
3C  84
NGC  4051
ICRF J184208.9+794617
* tau Sco
* eta Car
M  87
ESO 198-24
* del Ori
V* V2606 Oph
V* RY Lup
M  77
QSO B1028+511
NGC  7314
CPD-63  2495
HD 226868
Mrk  876
NGC  4253
NAME Slow Burster
SS 433
NGC  3783
QSO B2155-304
V* V1223 Sgr
ESO 434-40
X LMC X-1
HD  47129
Mrk    3
NAME OAO 1657-41
X LMC X-2
NGC  7582
HD 155555
V* V691 CrA
* zet Ori
V* U Gem
V* KZ TrA
NGC  3516
NGC  7469
NGC  2110
NGC  2110
2MASX J14062191+2223462
NAME Rapid Burster
V* IM Peg
* zet Pup
IC  348
X LMC X-4
NAME TER 5 X-1
V* BO Mic
NAME SNR 1987A
QSO B1725-142
HD 226868
* mu. Vel
NGC  3516
M  77
2MAXI J2042+751
NGC  5044
Mrk  421
Mrk  421
* eta Car
[KRL2007b] 222
Mrk  876
HD 226868
NAME SNR 1987A
V* V794 Aql
3C 111
Mrk  421
NGC  4151
Mrk  421
NGC  4051
3C 273
1AXG J070653-4928
Mrk 1506
NGC   985
NGC  1399
NAME Hya A
* d UMa
* tau CMa
NAME Great Annihilator
NAME MR 2251-178
EM* SR    9
NAME Sgr A*
NGC  4051
4U 1857+01
4U 1705-44
NGC  4051
V* CP Pup
EM* SR    9
LEDA   68751
NOVA Mon 2012

4U 1705-44
V* HZ Her
IC  348
V* V5511 Sgr
NGC  4051
M 106
V* SS Cyg
NGC  3516
* zet Pup
V* IM Peg
V* V404 Cyg
Granat 1915+105
Mrk    3
2MASX J07473129-1917403
* zet Ori
V* BP Cru
Mrk  421
Mrk 1095
IC  348
SS 433
NGC   526
NGC  2110
NGC  2110
SS 433
NGC  4253
HD  47129
3C 273
X LMC X-1
Mrk  421
PSR J1550-5418
Mrk  421
V* SS Cyg
V* BP Cru
* zet Ori
Mrk  421
ESO 323-77
V* TW Hya
V* BR Cir
Mrk  421
V* V2216 Oph
4U 1758-25
SK  160
2EG J1746-2852
HD 226868
2MAXI J2042+751
NAME Sgr A*
HD 191612
*   9 Sgr
SN 1987A
V* BP Cru
* eta Car
NAME Sgr A*
V* BR Cir
X Nor X-1
X LMC X-1
V* V645 Cen
V* NP Ser
HD 191612
ESO 198-24
V* V603 Aql
NGC  4151
V* V5512 Sgr
NGC  7469
V* V1341 Cyg
* eta Car
NAME Slow Burster
CD-57  3057
* alf Aur
V* BR Cir
* alf Aur
NAME SNR 1987A
V* V1055 Ori
V* CP Pup
V* V801 Ara
QSO B2155-304
NGC  7469
BD+20  2465
HD 226868
* del Ori
3C 273
Mrk  290
NGC  5044
2RE J1337+244
HD 150136
Mrk  876
ESO 383-35
Granat 1915+105
PB  3894
NGC   863
NAME Rapid Burster
* alf Aur
X Sgr X-1
HD  42054
NGC  5548
X Nor X-1
Mrk  876
Mrk  421
V* TT Ari
* eta Car
NAME Sgr A*
NGC  1399
HD  47129
[KRL2007b] 222
V* EX Hya
NGC   931
* zet Pup
HD 245059
X Ara X-1
ESO 445-50
HD  93162
UGC  3374
HD  93250
BD+19  5116
Mrk  421
NAME Cas A
QSO B2155-304
NGC  4151
NGC  2362
NGC  4253
M 106
3C 273
* alf Aur
V* V2116 Oph
V* YY Dra
3C 273
ESO 323-77
X LMC X-1
HD  79826
SN 1987A
V* HZ Her
NGC  3783
V* CH Cyg
Granat 1915+105
3C 273
2RE J1337+244
HD 150136
V* V2116 Oph
NAME SNR 1987A
V* V395 Car
V* BR Cir
QSO B2155-304
NGC  7469
Schulte 12
3C 273
* alf Aur
* tau Sco
HD 226868
* zet Oph
V* BR Cir
NAME XTE J17464-3213
IGR J17177-3656
NGC  4696
ESO 323-77
V* CP Pup
* alf Car
V* V5512 Sgr
V* V1055 Ori
UGC 12163
NAME Slow Burster
NGC  6624
* lam And
IGR J17062-6143
NGC  2617
* alf Aur
V* NP Ser
HD 191612
V* BH CVn
X Sgr X-1
NGC  7314
* eta Car
Mrk    3
IC  348
M  81
* sig Gem
V* WX Hyi
V* V926 Sco
IC  348
Mrk  290
* kap Ori
* eta Car
FRL   49
HD 206267
Cl* NGC 3603    MDS      C
NAME Sgr A*
V* T Cha
MXB 1658-298
NGC  3783
GRB 020813A
V* V1521 Cyg
HD 319139
NAME Sgr A*
V* FK Com
HD  98800
NGC  3783
V* TT Ari
Mrk    3
NAME M82 ULX-1
Mrk  421
3C  84
NAME Sgr A*
SN 1987A
M  77
HD  93162
V* BR Cir
HD 226868
EM* AS  431
V* QV Nor
NAME Big Dipper
NGC  4051
NAME XTE J17464-3213
* bet Cet
* alf Gem C
Mrk  876
NAME SNR 1987A
HD 226868
4U 1850-03
QSO B2155-304
X Sgr X-3
X Sgr X-3
4U 1642-45
NGC  3783
NAME Hya A
NAME Trapezium Cluster
EM* AS  431
CD-57  3057
V* BR Cir
* sig CrB
NGC  6624
NGC  3227
SN 1996cr
NGC  4388
SK  160
X Nor X-1
M  77
NAME Trapezium Cluster
NAME Circinus Galaxy
SN 1996cr
1AXG J070653-4928
V* GP Vel
SN 1987A
NGC  7213
V* V4580 Sgr
NAME Cas A
NGC  7469
3C  84
NAME Sgr A*
V* V926 Sco
NGC  7213
NAME M82 ULX-1
NGC  3783
HD 206267
HD  93250
V* V821 Ara
V* T Cha
V* PZ Tel
HD 199143
Mrk  841
NAME Sgr A*
SN 1987A
V* V801 Ara
V* QV Nor
V* FK Com
HD 319139
V* BH CVn
IC  348
* alf Aur
NAME SNR 1987A
V* V1341 Cyg
4U 1642-45
4U 1758-25
TWA 3
2MAXI J1753-013
HD 200391
* eta Car
3C  84
SK  160
NGC  4388
V* V821 Ara
V* V1037 Cas
SN 1987A
V* GP Vel
[KRL2007b] 222
SN 1996cr
1AXG J070653-4928
HD 226868
V* TW Hya
V* EV Lac
[GHJ2008] 3
3C  84
4U 1758-25
4U 1758-25
V* V1101 Sco
Granat 1747-312
SK  160
* i Boo
NAME SNR 1987A
HD  47129
1AXG J070653-4928
NGC  4945
SN 1987A
4U 1850-03
Mrk  421
V* QX Nor
NAME XTE J17464-3213
V* GP Vel
HD 191612
EM* AS  431
QSO B1725-142
* eta Car
[KRL2007b] 332

,MAIN_ID,RA,DEC,RA_PREC,DEC_PREC,COO_ERR_MAJA,COO_ERR_MINA,COO_ERR_ANGLE,COO_QUAL,COO_WAVELENGTH,...,Distance_merr_2,Distance_perr_2,Distance_method_2,Distance_bibcode_2,l,b,dist,x,y,z
0,b'* alf Aur',05 16 41.3587,+45 59 52.769,9,9,4.7500,2.4700,90,A,O,...,NaN,NaN,paral,2010A&ARv..18...67T,162.588476,4.566431,13.0000,-12.364967,3.877677,-1.034994
1,b'4U 1642-45',16 45 47.7,-45 36 40,5,5,NaN,NaN,0,D,,...,NaN,NaN,,2002A&A...391..923G,339.588139,-0.079415,11000.0000,10309.298040,-3836.423003,15.246652
2,b'V* V1101 Sco',17 05 44.4915,-36 25 23.049,14,14,0.1502,0.1189,90,A,O,...,NaN,NaN,,2002A&A...391..923G,349.103609,2.748420,9200.0000,9023.737851,-1737.108517,-441.145329
3,b'NAME Sgr A*',17 45 40.0359,-29 00 28.169,9,9,2.6500,1.4200,0,B,R,...,NaN,NaN,,,NaN,NaN,NaN,NaN,NaN,NaN
4,b'[KRL2007b] 312',18 17 43.537,-33 01 07.80,7,7,500.0000,500.0000,90,C,R,...,-1.5000,1.5000,,2006ATel..791....1S,359.817224,-7.995567,2500.0000,2475.684489,-7.897584,347.741199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1152,b'HD 191612',20 09 28.6111,+35 44 01.287,14,14,0.0250,0.0327,90,A,O,...,-161.0218,161.0218,paral,2018yCat.1345....0G,72.991665,1.434389,2126.7546,621.903802,2033.097778,-53.237339
1153,b'EM* AS 431',20 36 43.6345,+40 21 07.453,14,14,0.2438,0.2996,90,A,O,...,NaN,NaN,,,NaN,NaN,NaN,NaN,NaN,NaN
1154,b'QSO B1725-142',17 28 19.7893,-14 15 55.855,14,14,0.0352,0.0305,90,A,O,...,NaN,NaN,,,NaN,NaN,NaN,NaN,NaN,NaN
1155,b'* eta Car',10 45 03.5455,-59 41 03.951,11,11,11.0000,10.0000,90,B,O,...,NaN,NaN,,,NaN,NaN,NaN,NaN,NaN,NaN
1156,b'[KRL2007b] 332',18 41 00.43,-05 35 46.5,6,6,NaN,NaN,0,D,,...,NaN,NaN,,,NaN,NaN,NaN,NaN,NaN,NaN

In [321]:
ScatterSources.to_csv('Show Dust and Sources_scattersources.csv')

## At this point we have produced the list of X-ray sources along with their coordinates.

The results was saved to a csv, so in the future we can pick up processing from here and we don't have to requery the 3D positions of all the X-ray sources.

In [328]:
ScatterSources = pd.read_csv('Show Dust and Sources_scattersources.csv')

In [370]:
# Compute the special coordinate of the Orion nebula.  Makes it easy to get our bearings.
c = SkyCoord(209.0137*u.deg, -19.3816*u.deg, 500*u.pc, frame='galactic')
x,y,z = Spherical2Cartesian(r=c.distance.pc, phi=c.l.deg, theta=c.b.deg)
Orionx = np.array((x,))
Oriony = np.array((y,))
Orionz = np.array((z,))

# Compute the special coordinate of the Cyg X-1.  Makes it easy to get our bearings.
c = SkyCoord(71.33499*u.deg, 3.0668*u.deg, 2370*u.pc, frame='galactic')
x,y,z = Spherical2Cartesian(r=c.distance.pc, phi=c.l.deg, theta=c.b.deg)
CygX1x = np.array((x,))
CygX1y = np.array((y,))
CygX1z = np.array((z,))

In [373]:
fig = ipv.figure()
#ipv.volshow(drho1kpc, level=[0.05], level_width=0.3, data_min=0.01, data_max=0.2, opacity=0.15)
NearScatterSources = ScatterSources.query('dist<=10000')
ipv.scatter(x=NearScatterSources['x'].to_numpy(), 
            y=NearScatterSources['y'].to_numpy(), 
            z=NearScatterSources['z'].to_numpy(), 
            color='blue',
            size=2)
ipv.scatter(x=Orionx, 
            y=Oriony, 
            z=Orionz, 
            color='green',
            size=2)
ipv.scatter(x=CygX1x, 
            y=CygX1y, 
            z=CygX1z, 
            color='cyan',
            size=3)
ipv.volshow(drho10kpc, extent=[[-10000,10000], [-10000,10000], [-10000,10000]], 
            level=[0.05], level_width=0.3, data_min=0.00, data_max=0.2, opacity=[0.5,0.5,0.5], memorder='F')
ipv.show()
ipv.save('10kpc Dust with X-ray Sources.html')

VBox(children=(VBox(children=(HBox(children=(Label(value='levels:'), FloatSlider(value=0.05, max=1.0, step=0.0

In [377]:
fig = ipv.figure()
#ipv.volshow(drho1kpc, level=[0.05], level_width=0.3, data_min=0.01, data_max=0.2, opacity=0.15)
NearScatterSources = ScatterSources.query('dist<=1000')
ipv.scatter(x=NearScatterSources['x'].to_numpy(), 
            y=NearScatterSources['y'].to_numpy(), 
            z=NearScatterSources['z'].to_numpy(), 
            color='blue',
            size=2)
ipv.scatter(x=Orionx, 
            y=Oriony, 
            z=Orionz, 
            color='green',
            size=2)
ipv.volshow(drho1kpc, extent=[[-1000,1000], [-1000,1000], [-1000,1000]], 
            level=[0.05], level_width=0.3, data_min=0.00, data_max=0.2, opacity=[0.5,0.5,0.5], memorder='F')
ipv.show()
ipv.save('1kpc Dust with X-ray Sources.html')

VBox(children=(VBox(children=(HBox(children=(Label(value='levels:'), FloatSlider(value=0.05, max=1.0, step=0.0